beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.11.17
charset-normalizer==3.3.2
cinemagoer==2023.5.1
greenlet==3.0.1
idna==3.4
IMDbPY==2022.7.9
lxml==4.9.3
requests==2.31.0
soupsieve==2.5
SQLAlchemy==2.0.23
typing_extensions==4.8.0
urllib3==2.1.0
