annotated-types==0.7.0
beautifulsoup4==4.14.3
bs4==0.0.2
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==48.0.0
curl_cffi==0.15.0
Deprecated==1.3.1
h11==0.16.0
idna==3.17
imdbinfo==0.9.1
imdbinfo-aws==1.0.4
jh2==5.0.13
jmespath==1.1.0
lxml==6.1.1
markdown-it-py==4.2.0
mdurl==0.1.2
niquests==3.18.8
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
qh3==1.8.1
requests==2.34.2
rich==15.0.0
soupsieve==2.8.4
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.7.0
urllib3-future==2.21.900
wassima==2.1.0
wrapt==2.2.1
